/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  --cds-grid-margin: #{$spacing-05};

  background-color: $background;
  padding-block: $spacing-05;
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  min-inline-size: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: $spacing-05;
}

.agentName {
  @include line-clamp();
  line-height: math.div(18, 16);
  color: $text-dark;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: $spacing-03;
}
