/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-04;

  li {
    display: flex;
    flex-direction: column;
    padding-block: $spacing-04 $spacing-05;
    gap: $spacing-03;
    align-items: flex-start;
    p {
      @include type-style(label-01);
      font-size: rem(12px);
    }
    :global(.cds--tag) {
      padding-inline-start: $spacing-02;
    }
    :global(.cds--tag__label) {
      display: inline-flex;
      align-items: center;
      gap: $spacing-02;
    }
  }
}
