/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.holder {
  inline-size: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  row-gap: $spacing-06;
}

.scrollable {
  @include scrollbar();
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  position: sticky;
  inset-block-start: 0;
  text-align: end;
  background-color: $layer;
  padding-block-end: $spacing-06;
}

.container {
  position: relative;
  flex-grow: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-07;
  block-size: 100%;
}

.scrollRef {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.bottom {
  position: relative;
  min-inline-size: 0;
  min-block-size: rem(88px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.toBottomButton {
  box-shadow: $box-shadow;
  &:global(.cds--tooltip) {
    position: absolute;
    inset-block-end: 100%;
    inset-inline-start: 50%;
    transform: translate(-50%, -$spacing-05);
    z-index: 1;
  }
}

@include breakpoint-up(lg) {
  .header {
    margin: 0 #{-$spacing-09} #{-$spacing-07} auto;
    max-inline-size: max-content;
    transform: translateX(100%);
    padding-block-end: 0;
  }
}
