/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  h1 {
    font-size: 3vw;
    font-weight: 300;
  }
}

.logo svg {
  fill: $text-primary;
  inline-size: rem(109px);
}
